.box {
  width: 500px;
}

.columns_section {
  height: 400px;
  overflow-y: scroll;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  list-style: none;
  padding: 0;
  gap: 5px;
}

.item {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.search_bar {
  background: rgba(255, 255, 255, 0.4);

  border-radius: 10px;
  display: block;
  outline: none;
  width: 400px;
  margin-left: 33px;
  height: 30px;
  padding: 10px;
  color: #333;
}

.text {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
